
body {
  font-family: Arial, sans-serif !important;
  background-color: #f2f2f2 !important;
}

form {
  margin: 50px auto !important;
  margin-top: 150px !important;
  padding: 40px !important;
  background-color: #98AFC7 !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) !important;
  width: 300px !important;
  height: 400px !important;
  display: flex!important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

input[type="file"] {
  display: block !important;
  margin: 20px auto !important;
}

button[type="submit"] {
  display: block !important;
  margin: 0 auto !important;
  padding: 10px 20px !important;
  background-color: #4CAF50 !important;
  color: #fff !important;
  border: none!important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

button[type="submit"]:hover {
  background-color: #3e8e41 !important;
}
